<html>
    <head>
        <meta name="viewport" content="width=device-width">
        <title><%= message.username %></title>
        <link href="/assets/favicon/light-mode-favicon.svg" rel="icon" media="(prefers-color-scheme: light)">
        <link href="/assets/favicon/dark-mode-favicon.svg" rel="icon" media="(prefers-color-scheme: dark)">
        <link rel="stylesheet" type="text/css" href="/css/styles.css">
    </head>
    <body>
        <%- include('partials/header', { navigateTo: '/', btnText: 'messages' }) %>
        <main class="main">
            <div class="grid">
                <div class="message selected">
                    <div class="message-username">
                        <%= message.username %>
                    </div>
                    <div class="message-added-date">
                        <%= message.date.toLocaleString() %>
                    </div>
                    <div class="message-text">
                        <%= message.text %>
                    </div>
                    <div class="message-fold"></div>
                    <div class="message-fold-cover"></div>
                    <div class="message-fold-stripe"></div>
                </div>
            </div>
        </main>
    </body>
</html>